* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /*Cores Brand*/
    --color-brand-color: #9333EA;
    --color-brand-color-light: #A855F7;
    --color-brand-color-lighter: #C084FC;
    /*Cores Neutrals*/
    --color-text-color-primary: #F9FAFB;
    --color-text-color-secondary: #E4E4E7;
    --color-close-button-color: #A1A1AA;
    --color-stroke-color: #3F3F46;
    --color-surface-color: #18181B;
    --color-bg-color: #09090b;

    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    background-color: var(--color-bg-color);
    color: var(--color-text-color-primary);
}

#app {
    height: 100vh;
    max-width: 42.8rem;
    margin-left: auto;

    background-color: var(--color-surface-color);

    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

/* ----- header  ----- */

header {
    font-size: 2rem;
    color: var(--color-text-color-secondary);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-stroke-color);

    padding: 2.4rem 3.2rem;
}

/* ----- main  ----- */

main {
    padding: 3.2rem;

    display: grid;
    place-content: start;
    gap: 2.4rem;

    overflow-y: scroll; /* vai fixa a barra de rolagem apenas para o main */
}

/* Conf barra de rolagem, vai definir a largura*/
::-webkit-scrollbar{
    width: .6rem;
}
/* Conf barra de rolagem, vai definir a cor da barra*/
::-webkit-scrollbar-thumb {
    background-color: var(--color-stroke-color);
    border-radius: .8rem;
}
/* Conf barra de rolagem, vai definir a cor do background da barra*/
::-webkit-scrollbar-track {
    background-color: var(--color-bg-color);
}

.item {
    display: flex;
    gap: 2.4rem;
}

.item img {
    width: 10.4rem;
    height: 10.4rem;
    object-fit: cover; /*redimensionar img*/
    border-radius: .8rem;
}

.item .title {
    color: var(--color-text-color-secondary);
}

.price {
    font-weight: 700;
}

.price-qty {
    margin-top: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qty {
    display: flex;
    align-items: center;
}

.qty span,
.qty button {
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 0;
}

.qty button {
    border-radius: .8rem;
    border: 1px solid white;
    
    background-color: transparent;
    color: var(--color-brand-color-light);
    font-size: 1.6rem;
}

.qty button.add {
    border-color: var(--color-brand-color-light);
}

.qty button.add:hover {
    background-color: var(--color-brand-color-light);
    color: var(--color-text-color-primary);
}

.qty button.sub {
    border-color: var(--color-stroke-color);
}

.qty button.sub:hover {
    border-color: var(--color-brand-color-light);
    color: var(--color-text-color-primary);
}

/* ----- footer  ----- */

footer {
    padding: 3.2rem;
    border-top: 1px solid var(--color-stroke-color);
}

.total {
    display: flex;
    justify-content: space-between;

    font-size: 2rem;
}

.coupon {
    margin-top: 1.6rem;
    color: var(--color-brand-color-light);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .8rem;
}

.coupon i {
    font-size: 2rem;
}

footer button {
    margin-top: 3.2rem;

    background-color: var(--color-brand-color);
    color: var(--color-text-color-primary);

    border: 0;
    font-size: 2rem;
    padding-block: 2rem;
    width: 100%;
    border-radius: .8rem;
}

footer button:hover {
    background-color: var(--color-brand-color-light);
}

